@model DAIF2020.Models.DataModels.ZoneGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZoneGame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameCategory.GameCategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameStatus.GameStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameType.GameTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone1.ZoneName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TSMNumberZone1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TSMNumberZone1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam1.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam1.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UDZ1.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone2.ZoneName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TSMNumberZone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TSMNumberZone2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam2.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam2.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UDZ2.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supervisor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneGameDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZoneGameDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arena.ArenaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneGameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZoneGameName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListZoneGames">Back to Zone Games</a>
</div>
