@model DAIF2020.Models.ViewModels.ArenasViewModel
@{
    ViewData["Title"] = "ListArenas";
}

<h1>Arena List</h1>
@*
    <div class="accordion">
        <a class="btn btn-sm btn-success" asp-controller="Games" asp-action="Create">Create Game !</a>
        <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Lists">Back to Home Lists</a>
        <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="StartedGames">Go to Pool Games</a>
        <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="FinalGames">Go to Final Games</a>
        <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="ArchivedGames">Go to Archived Games</a>
        <a class="btn btn-sm btn-success" asp-controller="Games" asp-action="Index">Go to Games List</a>
    </div>*@

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Arenas[0].ArenaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arenas[0].Address)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Arenas[0].ArenaStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Arenas.OrderBy(a => a.ArenaName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArenaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArenaStatus.ArenaStatusName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Arenas" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="Arenas" asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>


