@model DAIF2020.TheLab.Models.DataModels.PoolGameReceipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PoolGameReceipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolGame.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ1Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1TravelKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ1TravelKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1Alowens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ1Alowens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DUZ1LateGameKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DUZ1LateGameKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ1Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ1TotalFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ1TotalFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2TravelKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2TravelKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2Alowens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2Alowens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2LateGameKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2LateGameKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UDZ2TotalFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UDZ2TotalFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolGameTotalKost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolGameTotalKost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaidUDZ1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaidUDZ1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaidUDZ2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaidUDZ2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountToPay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
