@model DAIF2020.TheLab.Models.DataModels.WeeklyReceipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weekly Receipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptStatus.ReceiptStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListWeeklyReceipts">Back to Weekly Receipts</a>
</div>
