@model DAIF2020.Models.DataModels.TeamRoster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team Roster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamRosterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamRosterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GM.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCoach.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssCoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssCoach.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListTeamRosters">Back to Team Rosters</a>
</div>
