@model IEnumerable<DAIF2020.Models.DataModels.PoolGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoolGameDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolGameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostingTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZoneGame1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZoneGame2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZoneGame3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoolGameDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolGameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arena.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostingTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZoneGame1.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZoneGame2.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZoneGame3.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
