@model DAIF2020.Models.ViewModels.SettingsViewModel
@{
    ViewData["Title"] = "ListSeriesStatuses";
}

<h1>Series Statuses</h1>

<a class="btn btn-sm btn-success" asp-controller="SeriesStatus" asp-action="Create">Create new status</a>

<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesStatuses[0].SeriesStatusName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SeriesStatuses.OrderBy(s => s.SeriesStatusName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesStatusName)
                </td>

                <td>
                    <a class="btn btn-sm btn-success" asp-controller="SeriesStatus" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="SeriesStatus" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-controller="SeriesStatus" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>